$gameOver-color: #a81c1c;
$accent-color: #00ff00;
$secondary-color: #898484;

.gameOverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.gameOverPaper {
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
}

.gameOverTitle {
  color: $gameOver-color;
  font-weight: bold;
}

.resultsContainer {
  margin-top: 1rem;
}


.resultItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: 1.5rem;
}

.resultLabel {
  font-weight: lighter;
}

.resultValue {
  font-weight: bold;
  color: $accent-color;
}

.actionsBox {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: stretch;
  margin-top: 2rem;
}

.actionButton {

}

.previousResults {
  margin-top: 1.5rem;
  text-align: left;
}

.previousResultsTitle {
  margin-bottom: 0.5rem;
}

.previousResultsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.previousResultsItem {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: $secondary-color;
}

.previousResultsDate {
  font-style: italic;
}

.previousResultsScore {
  font-weight: bold;
  color: $accent-color;
}

.previousResultsEmpty {
  color: $secondary-color;
}
