$accent-color: #00ff00;

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .number {
        font-size: 25rem;
        font-weight: bold;
        color: $accent-color;
        text-shadow: 0 0 20px #00ff0080;
        animation: zoomAndFade 1s ease-out forwards;
    }
}

@keyframes zoomAndFade {
    0% {
        transform: scale(0.5);
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
