.container {
    width: 100vw;
    height: 100vh;
    canvas {
        flex: 0 0 auto;
        width: 800px;
        height: 600px;
        display: block;
        margin: auto;
        }
}

.gameContainer{
    height: 100vh;
}
