version: "3.9"

services:
    client:
        container_name: prakticum-client
        image: prakticum-client
        build:
            context: .
            dockerfile: Dockerfile.client
        restart: always
        ports:
            - "80:80"
            - "${CLIENT_PORT}:443"
        volumes:
            - certbot_conf:/etc/letsencrypt:ro
            - certbot_www:/var/www/certbot:ro
        environment:
          - SERVER_PORT=${SERVER_PORT}
          - LETSENCRYPT_DOMAIN=${LETSENCRYPT_DOMAIN}

    server:
        container_name: prakticum-server
        image: prakticum-server
        build:
            context: .
            dockerfile: Dockerfile.server
            args:
                SERVER_PORT: ${SERVER_PORT}
        restart: always
        ports:
            - "${SERVER_PORT}:${SERVER_PORT}"
        environment:
          SERVER_PORT: ${SERVER_PORT}
          POSTGRES_HOST: ${POSTGRES_HOST}
          POSTGRES_PORT: ${POSTGRES_PORT}
          POSTGRES_USER: ${POSTGRES_USER}
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
          POSTGRES_DB: ${POSTGRES_DB}
        depends_on:
            postgres:
                condition: service_healthy

    postgres:
      container_name: prakticum-postgres
      image: postgres:14
      restart: always
      ports:
        - "${POSTGRES_PORT}:${POSTGRES_PORT}"
      environment:
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_DB: ${POSTGRES_DB}
      volumes:
        - pgdata:/var/lib/postgresql/data
        - ./db/init:/docker-entrypoint-initdb.d
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
        interval: 5s
        timeout: 5s
        retries: 10

    certbot:
        image: certbot/certbot
        volumes:
            - certbot_conf:/etc/letsencrypt
            - certbot_www:/var/www/certbot

volumes:
  pgdata:
  certbot_conf:
  certbot_www:
