.error__box.error__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.error__paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 3rem;
}

.error__code.error__code {
  font-size: 8rem;
  font-weight: bold;
  opacity: 0.7;
}

.error__message.error__message {
  margin-top: 1.5rem;
}

.error__action {
  margin-top: 2rem;
}
