.avatar__container {
  position: relative;
  cursor: pointer;
  margin: 0 auto;

  .avatar__box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;

    .avatar__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .avatar__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  :hover .avatar__overlay {
    opacity: 1;
  }

  .avatar__fileInput {
    display: none;
  }
}

.avatar__container:hover {
  .avatar__box {
    transform: scale(1.05);
  }
}
