.formContainer {
    margin-top: 1.5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.link {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}