.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.link {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}